<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">

    <!-- 게시판에 모든 게시물 서치 -->
    <select id="findallboard" resultType="com.dgsw.dto.Board">
        select * from board
    </select>

    <!-- 게시판에 자신의 게시물 서치 -->
    <select id="findmyboard" resultType="com.dgsw.dto.Board" parameterType="string">
        select * from board where username=#{username}
    </select>

    <!--  게시판에 게시물 올리기  -->
    <insert id="insertboard" parameterType="com.dgsw.dto.Board">
        insert into board(title,content,username,createdAt,watched) values (#{title},#{content},#{username},#{createdAt},#{watched})
    </insert>

    <!--  게시판에 게시물 삭제  -->
    <delete id="deleteboard" parameterType="com.dgsw.dto.Board">
        delete from board where title = #{title} and username = #{username}
    </delete>

</mapper>